.reservation-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.reservation-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.reservation-column label {
    display: block;
    margin-bottom: 5px;
}

.reservation-column select {
    width: 100%;
    padding: 5px;
}

#hsr_time {
    height: 150px;
}

#hsr_date, #hsr_staff {
    height: 150px;
}